:root {
  --color-button: #3470ff;
  --color-button-hover: #0b44cd;
  --color-input: #f7f7fb;
  --color-text: #121417;
  --color-text-info: #12141780;
  --color-text-button: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--color-text-button);

  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: var(--color-text);
  width: 100%;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
